*{
	margin: 0;
	border: none;
	padding: 0;
}

.g-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	width: 460px;
	height: 230px;
}

.image {
	width:90px;
	height: 90px;
	margin: 17px auto 10px;
	display: block;
	border-radius: 50%;
}

hr {
	border: 1px inset #fff0f5;
	margin-top: 20px;
	margin-bottom: 20px;
}

.navlink+.navlink{
	border-left: 1px inset #fff0f5;
}

.navlink {
	text-decoration: none;
	display: block;
	width: 24%;
	background: white;
	float: left;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-family: "微软雅黑";
	color: #6A5ACD;
}

p {
	display: block;
	width: 100%;
	text-align: center;
	color: #6A5ACD;
	font-weight: bold;
	font-family: "微软雅黑";
}

a:hover {
	text-decoration: underline;
	color: #7D26CD;
}

@media screen and (max-width: 460px) {
.g-container{
	width: 100%;
}

}